{% extends "AppBlog/base.html" %}

{% block contenido %}
<section>
  <div>
    <h1>Articulos</h1>
    <a href="{% url 'crear_articulo' %}">Añadir un articulo</a>

    <table class="table">
      <tbody>
        <tr>
          <th>Autor</th>
          <th>Titulo</th>
          <td>Sub titulo</td>
          <td>Fecha</td>
          <td>Contenido</td>
        </tr>
        {% for articulo in object_list %}
        <tr>
          <td>{{ articulo.autor }}</td>
          <td>{{ articulo.titulo }}</td>
          <td>{{ articulo.sub_titulo }}</td>
          <td>{{ articulo.fecha}}</td>
          <td>{{ articulo.contenido|truncatechars:50}}</td>
          <td>
            <a href="{% url 'ver_articulo' articulo.id %}">Ver mas</a>
          </td>
          {% if user == articulo.autor %}
          <td>
            <a href="{% url 'editar_articulo' articulo.id %}">Editar</a>
          </td>
          <td>
            <a href="{% url 'eliminar_articulo' articulo.id %}">
              <i class="bi bi-trash"></i>
            </a>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  
  </div>
</section>
{% endblock contenido %}